<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356535128203-4k80i7405hkdhr8s2f0nelqvkm1fc067.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356535128203-4k80i7405hkdhr8s2f0nelqvkm1fc067</string>
	<key>API_KEY</key>
	<string>AIzaSyBxpjuN6M0qm4Dvs98wDwhi5jbTkbR-HV8</string>
	<key>GCM_SENDER_ID</key>
	<string>356535128203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.EcommerceApp1</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-a32dc</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-a32dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356535128203:ios:2b58855ee1a3ef192c848e</string>
</dict>
</plist>